* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.home {
  position: relative;
}
.home-icon {
  position: absolute;
  top: 50;
  left: 50;
}
.aboutUs__wrapper {
  display: flex;
  flex-direction: row;
  gap: 144px;
  padding-top: 169px;
  padding-bottom: 169px;
  padding-left: 117px;
  background-color: #e5e5e5;
}
.wrapper__card {
  height: 743px;
  width: 466px;
  border-radius: 30px;
  background-color: #fff;
}
.card__content {
  display: flex;
  flex-direction: column;
}
.content__button {
  height: 88px;
  width: 260px;
  border-radius: 50px;
  border: none;
  background: #f4f4f4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 49px;
  margin-left: 103px;
  margin-bottom: 27px;
  font-size: 20px;
  font-weight: 700;
}
.content__button:active {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}
.content__title {
  padding-top: 102px;
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #000000;
  text-align: center;
}
.content__text {
  padding-left: 99px;
  padding-right: 60px;
  padding-bottom: 50px;
  height: 100px;
  font-size: 18px;
  font-weight: 500;
}
.content__qrBox {
  width: 260px;
  height: 260px;
  border-radius: 50px;
  background-color: #f4f4f4;
  margin-left: 103px;
  margin-right: 103px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 90px;
}
.qrBox__code {
  padding: 41px;
}
.qr-code {
  height: 178px;
  width: 178px;
}
.content__welcome {
  height: 24px;
  width: 260px;
  border-radius: 50px;
  border: none;
  background: #f4f4f4;
  border-radius: 49px;
  margin-left: 103px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
